@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

html { 
  background-color: #708090
}

.hello{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 4px;
  position: relative;
  top: 100px;
  left: 80px;
  width: 80%;
}


.header1{
  color: #ccc;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
}

.header2{
  color: #ccc;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
}

.header3{
  color: #ccc;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
}

.header4{
  color: #ccc;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
}

a {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

a:visited {
  color: #ccc;
  text-decoration: none;
}


